{% extends "layout.html" %}
{% load staticfiles %}

{% block css %}
    <link href="{% static "css/custom.css" %}" rel="stylesheet" media="screen">
{% endblock %}

{% block javascript %}
<script>
    $(window).load(function() {    

      var theWindow        = $(window),
          $bg              = $("#bg"),
          aspectRatio      = $bg.width() / $bg.height();
                        
      function resizeBg() {
        
        if ( (theWindow.width() / theWindow.height()) < aspectRatio ) {
            $bg
              .removeClass()
              .addClass('bgheight');
        } else {
            $bg
              .removeClass()
              .addClass('bgwidth');
        }
              
      }
                              
      theWindow.resize(resizeBg).trigger("resize");

      
    });
    
        $(function(){
                // Setup drop down menu
                  $('.dropdown-toggle').dropdown();
                 
                  // Fix input element click problem
                  $('.dropdown input, .dropdown label').click(function(e) {
                    e.stopPropagation();
                  });
                });
    </script>
{% endblock %}

{% block afterbody %}
<img src="{% static "img/bg.jpg" %}" id="bg" alt="">
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <h1>Welcome!</h1>
    <br />
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <div class="item-unit">
      <a href="{% url 'db:indexProduct' %}">
        <div class="item-unit-content">
          <img src = "{% static "img/product.svg" %}"/>
          <br />
          <h2>Product</h2>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="item-unit">
      <a href="{% url 'db:Basket' %}">
        <div class="item-unit-content">
          <img src = "{% static "img/transaction.svg" %}"/>
          <h2>Active Basket</h2>
        </div>
      </a>
    </div>
  </div>
    <div class="col-md-3">
    <div class="item-unit">
      <a href="{% url 'db:DefaultBasket' %}">
        <div class="item-unit-content">
          <img src = "{% static "img/transaction.svg" %}"/>
          <h2>Default Basket</h2>
        </div>
      </a>
    </div>
  </div>

</div>
{% endblock %}