{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Centre One{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" media="screen">
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}" type="image/x-icon">
    {% block css %}{% endblock %}
    

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    {% block afterbody %}{% endblock %}
    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-nav" href="{% url 'db:home' %}"><img  src = "{% static "img/logo.png" %}" href="{% url 'db:home' %}" type=img></a-->
          
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a class="navbar-nav" href="{% url 'db:indexProduct' %}">Product</a></li>
            <li><a href="{% url 'db:Basket' %}">Active Basket</a></li>
            <li><a href="{% url 'db:DefaultBasket' %}">Default Basket</a></li>
            
            <!--li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
            -->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    
    <!-- start of content.-->
    <div class="container">


    {% if messages %}
        {% for message in messages %}
          {% if message.tags == "error" %}
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>{{ message.tags }}</strong> {{ message }}
            </div>
          {% elif  message.tags == "success" %}
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>{{ message.tags }}</strong> {{ message }}
            </div>
          {% else %}
            <div class="alert alert-info">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>{{ message.tags }}</strong> {{ message }}
            </div>
          {% endif %}
        {% endfor %}
    {% endif %}

      
      
    {% block content %}
      <h1>Hello, world!</h1>
    {% endblock %}
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "constant.js" %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    
    {% block javascript %}{% endblock %}
    {% block gmap %}{% endblock %}
  </body>
</html>
