{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <h4>TOTAL AMT: {{total}}</h4>
        <div class="col-md-24">
        Please proceed to Express Checkout with Paypal. Click on the checkout button.
        </div>
        <a href="{% url 'db:testSale' %}" data-paypal-button="true">
        <img src="//www.paypalobjects.com/en_US/i/btn/btn_xpressCheckout.gif" align="right" style="margin-right:70px"; alt="Check out with PayPal" /></a>
            {% csrf_token %}
        <h2>Your Active Basket</h2>
            {% csrf_token %}
        <table class="table tablesorter table-striped table-hover">
            <thead>
                <tr>
                    <th>Barcode</th>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Manufacturer</th>
                    <th>Cost Price</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
                <tr>
                </tr>
                <tr>
                    <th colspan="8" class="ts-pager form-horizontal">
                        <button type="button" class="btn first"><i class="icon-step-backward glyphicon glyphicon-step-backward"></i></button>
                        <button type="button" class="btn prev"><i class="icon-arrow-left glyphicon glyphicon-backward"></i></button>
                        <span class="pagedisplay"></span> <!-- this can be any element, including an input -->
                        <button type="button" class="btn next"><i class="icon-arrow-right glyphicon glyphicon-forward"></i></button>
                        <button type="button" class="btn last"><i class="icon-step-forward glyphicon glyphicon-step-forward"></i></button>
                        <select class="pagenum input-mini" title="Select page number"></select>
                    </th>
                </tr>
            </tfoot>
        </table>
        <a href="{% url 'db:clearBasket' %}" class="btn btn-primary">Clear Basket</a><br />
    </div>
</div>
{% endblock %}

{% block javascript %}

<script src="{% static "js/jquery.tablesorter.js" %}"></script>
<script src="{% static "js/jquery.tablesorter.widgets.js" %}"></script>
<script src="{% static "js/jquery.tablesorter.pager.js" %}"></script>

<script>
$(function(){

    $.extend($.tablesorter.themes.bootstrap, {
        // these classes are added to the table. To see other table classes available,
        // look here: http://twitter.github.com/bootstrap/base-css.html#tables
        table      : 'table table-bordered',
        header     : 'bootstrap-header', // give the header a gradient background
        footerRow  : '',
        footerCells: '',
        icons      : '', // add "icon-white" to make them white; this icon class is added to the <i> in the header
        sortNone   : 'bootstrap-icon-unsorted',
        sortAsc    : 'icon-chevron-up glyphicon glyphicon-chevron-up',     // includes classes for Bootstrap v2 & v3
        sortDesc   : 'icon-chevron-down glyphicon glyphicon-chevron-down', // includes classes for Bootstrap v2 & v3
        active     : '', // applied when column is sorted
        hover      : '', // use custom css here - bootstrap class may not override it
        filterRow  : '', // filter row class
        even       : '', // odd row zebra striping
        odd        : ''  // even row zebra striping
    });

  // Initialize tablesorter
  // ***********************

    // call the tablesorter plugin and apply the uitheme widget
    $("table").tablesorter({
        // this will apply the bootstrap theme if "uitheme" widget is included
        // the widgetOptions.uitheme is no longer required to be set
        theme : "bootstrap",

        widthFixed: true,

        headerTemplate : '{content} {icon}', // new in v2.7. Needed to add the bootstrap icon!

        // widget code contained in the jquery.tablesorter.widgets.js file
        // use the zebra stripe widget if you plan on hiding any rows (filter widget)
        widgets : [ "uitheme", "zebra", "filter",  ],

        widgetOptions : {
            // using the default zebra striping class name, so it actually isn't included in the theme variable above
            // this is ONLY needed for bootstrap theming if you are using the filter widget, because rows are hidden
            zebra : ["even", "odd"],

            // reset filters button
            filter_reset : ".reset",

            // css class name applied to the sticky header
            stickyHeaders : "tablesorter-stickyHeader"

            // set the uitheme widget to use the bootstrap theme class names
            // this is no longer required, if theme is set
            // ,uitheme : "bootstrap"
            //filter_serversideFiltering : true

        }
    })
    .tablesorterPager({

        // target the pager markup - see the HTML block below
        container: $(".ts-pager"),

        // target the pager page select dropdown - choose a page
        cssGoto  : ".pagenum",

        // remove rows from the table to speed up the sort of large tables.
        // setting this to false, only hides the non-visible rows; needed if you plan to add/remove rows with the pager enabled.
        removeRows: false,

        // output string - default is '{page}/{totalPages}';
        // possible variables: {page}, {totalPages}, {filteredPages}, {startRow}, {endRow}, {filteredRows} and {totalRows}
        output: '{startRow} - {endRow} / {filteredRows} ({totalRows})',

        ajaxUrl: 'Basket.json?page={page}&{filterList:filter}&{sortList:column}',

       // ajaxUrl: 'assets/City{page}.json?{filterList:filter}&{sortList:column}',
    
        // modify the $.ajax object to allow complete control over your ajax requests
        ajaxObject: {
            dataType: 'json'
        },

        ajaxProcessing: function(data){
            if (data && data.hasOwnProperty('rows')) {
                var r, row, c, d = data.rows,
                // total number of rows (required)
                total = data.total_rows,
                // array of header names (optional)
                headers = data.headers,
                // all rows: array of arrays; each internal array has the table cell data for that row
                rows = [],
                // len should match pager set size (c.size)
                len = d.length;
                // this will depend on how the json is set up - see City0.json
                // rows
                for ( r=0; r < len; r++ ) {
                    row = []; // new row array
                    // cells
                    for ( c in d[r] ) {
                        if (typeof(c) === "string") {
                            row.push(d[r][c]); // add each table cell data to row array
                        }
                    }
                    rows.push(row); // add new row array to rows array
                }
                // in version 2.10, you can optionally return $(rows) a set of table rows within a jQuery object
                return [ total, rows, headers ];
            }
        },

        size: 100,

        // css class names of pager arrows
            pager_css: {
            container   : 'tablesorter-pager',
            errorRow    : 'tablesorter-errorRow', // error information row (don't include period at beginning)
            disabled    : 'disabled'              // class added to arrows @ extremes (i.e. prev/first arrows "disabled" on first page)
        },

        // jQuery selectors
        pager_selectors: {
            container   : '.ts-pager',       // target the pager markup (wrapper)
            first       : '.first',       // go to first page arrow
            prev        : '.prev',        // previous page arrow
            next        : '.next',        // next page arrow
            last        : '.last',        // go to last page arrow
            goto        : '.gotoPage',    // go to page selector - select dropdown that sets the current page
            pageDisplay : '.pagedisplay', // location of where the "output" is displayed
            pageSize    : '.pagesize'     // page size selector - select dropdown that sets the "size" option

        }
    });

});
</script>
{% endblock %}

{% block css %}
<link href="{% static "css/tablesortertheme.css" %}" rel="stylesheet" media="screen">
{% endblock %}