{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="col-md-6">

        <h2>Edit product</h2>

        {% if error_message %}
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> <strong>Error!</strong>
            Something went wrong.
        </div>
        {% endif %}

        <form role="form" action="{% url 'db:updateProduct' product.barcode %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="productBarcode">Product barcode</label><br />
                {{ product.barcode }}
            </div>
            <div class="form-group">
                <label for="productName">Product name</label>
                <input type="text" class="form-control" id="productName" name="productName" value="{{ product.name }}" placeholder="Enter product name" required>
            </div>
            <div class="form-group">
                <label for="productCategory">Product Category</label>
                <input type="text" class="form-control" id="productCategory" name="productCategory" value="{{ product.category }}" placeholder="Enter product category" required>
            </div>
            <div class="form-group">
                <label for="productManufacturer">Product Manufacturer</label>
                <input type="text" class="form-control" id="productManufacturer" name="productManufacturer" value="{{ product.manufacturer }}" placeholder="Enter product manufacturer" required>
            </div>
            <div class="form-group">
                <label for="productCostPrice">Product Cost Price</label>
                <input type="number" class="form-control" id="productCostPrice" name="productCostPrice" value="{{ product.cost_price }}" placeholder="Enter product cost price" required step="any">
            </div>
            <div class="form-group">
                <label for="productMinimumStock">Product Minimum Stock</label>
                <input type="number" class="form-control" id="productMinimumStock" name="productMinimumStock" value="{{ product.minimum_stock }}" placeholder="Enter product minimum stock" required>
            </div>
            <input type="submit" class="btn btn-default" value="Submit"></form>
    </div>
</div>
{% endblock content %}