{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="col-md-6">

        <h2>Add new product</h2>

        <form role="form" action="{% url 'db:createProduct' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="productCode">Product barcode</label>
                <input type="text" class="form-control" placeholder="Enter product code" id="productCode" name="productBarcode" required pattern="[0-9]{8,}"></div>
            <div class="form-group">
                <label for="productName">Product name</label>
                <input type="text" class="form-control" id="productName" name="productName" placeholder="Enter product name" required>
            </div>
            <div class="form-group">
                <label for="productCategory">Product Category</label>
                <input type="text" class="form-control" id="productCategory" name="productCategory" placeholder="Enter product category" required>
            </div>
            <div class="form-group">
                <label for="productManufacturer">Product Manufacturer</label>
                <input type="text" class="form-control" id="productManufacturer" name="productManufacturer" placeholder="Enter product manufacturer" required>
            </div>
            <div class="form-group">
                <label for="productCostPrice">Product Cost Price</label>
                <input type="number" class="form-control" id="productCostPrice" name="productCostPrice" placeholder="Enter product cost price" required step="any">
            </div>
            <div class="form-group">
                <label for="productMinimumStock">Product Minimum Stock</label>
                <input type="number" class="form-control" id="productMinimumStock" name="productMinimumStock" placeholder="Enter product minimum stock" required>
            </div>
            <input type="submit" class="btn btn-default" value="Submit"></form>
    </div>
</div>
{% endblock content %}