{% extends "layout.html" %}

{% load dbtags %}

{% block content %}
Barcode: {{ product.barcode }}<br />
Name: {{ product.name }}<br />
Category: {{ product.category }}<br />
Manufacturer: {{ product.manufacturer }}<br />
Cost price: {{ product.cost_price }}<br />
Minimum stock: {{ product.minimum_stock }}<br /><br />
<a href="{% url 'db:editProduct' product.barcode %}" class="btn btn-primary">Edit</a><br />
    <form role="form" action="{% url 'db:createProductShopFromProductPage' %}" method="POST">
    {% csrf_token %}
    <!--div class="form-group">
        <label for="shop">Add to shop</label>
        <select class="form-control" name="shop">
            {% shopOption product.barcode %}
        </select>
    </div>
    <input type="hidden" value="{{ product.barcode }}" name="product" />
    <input type="hidden" value="0" name="current_stock" />
    <input type="hidden" value="{{ product.cost_price }}" name="current_price" />
    <input type="hidden" value="{{ product.cost_price }}" name="bundle_price" />
    <input type="submit" class="btn btn-default" value="Submit"-->
</form>
{% endblock %}