#bg { position: fixed; top: 0; left: 0; z-index: -10; }
.bgwidth { width: 100%; }
.bgheight { height: 100%; }

.item-unit {
  padding: 20px;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 200;
  line-height: 31.5px;
  color: inherit;
  text-align: center;
  background: white;
      filter:alpha(opacity=80); /* IE */
      -moz-opacity:0.8; /* Mozilla */
      opacity: 0.8; /* CSS3 */
}

.item-unit:hover {
    background: white;
    filter:alpha(opacity=90); /* IE */
      -moz-opacity:0.9; /* Mozilla */
      opacity: 0.9; /* CSS3 */
    cursor: pointer;
}

.item-unit:focus {
  background: white;
    filter:alpha(opacity=90); /* IE */
      -moz-opacity:0.9; /* Mozilla */
      opacity: 0.9; /* CSS3 */
}

.item-unit-content {
  color: black;
}

.item-unit a:focus, a:hover {
  text-decoration: none;
}

.item-unit-content img {
  display:block;
  margin:auto;
}
