{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}
First Name: {{ details.FIRSTNAME }}<br />
Last Name: {{ details.LASTNAME }}<br />
Email: {{ details.EMAIL }}<br />
Amount: {{details.AMT}}<br/>
Currency: {{details.CURRENCYCODE}}<br/>
Extra Charges: {{details.TAXAMT}}<br/>
Time of Transaction: {{details.TIMESTAMP}}<br/>
<div class="row">
    <div class="col-md-12">
                You order was successful. Above are the listed details.
    </div>
</div>
{% endblock %}

{% block javascript %}

<script src="{% static "js/jquery.tablesorter.js" %}"></script>
<script src="{% static "js/jquery.tablesorter.widgets.js" %}"></script>
<script src="{% static "js/jquery.tablesorter.pager.js" %}"></script>

<script>
$(function(){
    var x = document.URL;
    document.getElementById("txtUrl").value = x;
});
</script>
{% endblock %}

{% block css %}
<link href="{% static "css/tablesortertheme.css" %}" rel="stylesheet" media="screen">
{% endblock %}
 No newline at end of file
