{% extends "layout.html" %}
{% load staticfiles %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h2>Order Summary</h2>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Total Amount</th>
                    <th>Currency Code</th>
                    <th>Tax Amount</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
                <tr>
                </tr>
                <tr>
                    <th colspan="7" class="ts-pager form-horizontal">
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
                <form role="form" action="{% url 'db:CompleteOrder' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <input type="hidden" id="txtUrl" name="txtUrl"/>
            </div>
            <h4>Your order was successful. Above are the listed details</h4>
            <br />
            <br/>
            <a href="{% url 'db:indexProduct' %}" class="btn btn-primary">Continue Shopping</a><br />
    </div>
</div>
{% endblock %}

{% block javascript %}

<script src="{% static "js/jquery.tablesorter.js" %}"></script>
<script src="{% static "js/jquery.tablesorter.widgets.js" %}"></script>
<script src="{% static "js/jquery.tablesorter.pager.js" %}"></script>
<script src="{% static "js/moment.min.js" %}"></script>
<script src="{% static "js/daterangepicker.js" %}"></script>

<script>
$(function(){
    var x = document.URL;
    document.getElementById("txtUrl").value = x;

    $.extend($.tablesorter.themes.bootstrap, {
        // these classes are added to the table. To see other table classes available,
        // look here: http://twitter.github.com/bootstrap/base-css.html#tables
        table      : 'table table-bordered',
        header     : 'bootstrap-header', // give the header a gradient background
        footerRow  : '',
        footerCells: '',
        icons      : '', // add "icon-white" to make them white; this icon class is added to the <i> in the header
        sortNone   : 'bootstrap-icon-unsorted',
        sortAsc    : 'icon-chevron-up glyphicon glyphicon-chevron-up',     // includes classes for Bootstrap v2 & v3
        sortDesc   : 'icon-chevron-down glyphicon glyphicon-chevron-down', // includes classes for Bootstrap v2 & v3
        active     : '', // applied when column is sorted
        hover      : '', // use custom css here - bootstrap class may not override it
        filterRow  : '', // filter row class
        even       : '', // odd row zebra striping
        odd        : ''  // even row zebra striping
    });


    // bind to update complete event to initialize date range picker
    $("table")
    .bind("updateComplete",function(e, table) {
        if ($('#dateField').size() == 0){
            // 5th column is the date field
            $('input:eq(4)').attr("id", "dateField");
            $('#dateField').daterangepicker({
              format: 'DD/MM/YYYY'
            },
            function(start, end) {
                // simulate key-up so the filter would kick in
                $('.tablesorter-filter').keyup();
            });
        }
    });

  // Initialize tablesorter
  // ***********************

    // call the tablesorter plugin and apply the uitheme widget
    $("table").tablesorter({
        // this will apply the bootstrap theme if "uitheme" widget is included
        // the widgetOptions.uitheme is no longer required to be set
        theme : "bootstrap",

        widthFixed: true,

        headerTemplate : '{content} {icon}', // new in v2.7. Needed to add the bootstrap icon!

        // widget code contained in the jquery.tablesorter.widgets.js file
        // use the zebra stripe widget if you plan on hiding any rows (filter widget)
        widgets : [ "uitheme", "zebra", "filter"  ],

        widgetOptions : {
            // using the default zebra striping class name, so it actually isn't included in the theme variable above
            // this is ONLY needed for bootstrap theming if you are using the filter widget, because rows are hidden
            zebra : ["even", "odd"],

            // reset filters button
            filter_reset : ".reset",

            // css class name applied to the sticky header
            stickyHeaders : "tablesorter-stickyHeader"

            // set the uitheme widget to use the bootstrap theme class names
            // this is no longer required, if theme is set
            // ,uitheme : "bootstrap"
            //filter_serversideFiltering : true

        }
    })
    .tablesorterPager({

        // target the pager markup - see the HTML block below
        container: $(".ts-pager"),

        // target the pager page select dropdown - choose a page
        cssGoto  : ".pagenum",

        // remove rows from the table to speed up the sort of large tables.
        // setting this to false, only hides the non-visible rows; needed if you plan to add/remove rows with the pager enabled.
        removeRows: false,

        // output string - default is '{page}/{totalPages}';
        // possible variables: {page}, {totalPages}, {filteredPages}, {startRow}, {endRow}, {filteredRows} and {totalRows}
        output: '{startRow} - {endRow} / {filteredRows} ({totalRows})',

        ajaxUrl: '/transactionSummary.json?page={page}&{filterList:filter}&{sortList:column}',

       // ajaxUrl: 'assets/City{page}.json?{filterList:filter}&{sortList:column}',
    
        // modify the $.ajax object to allow complete control over your ajax requests
        ajaxObject: {
            dataType: 'json'
        },

        ajaxProcessing: function(data){
            if (data && data.hasOwnProperty('rows')) {
                var r, row, c, d = data.rows,
                // total number of rows (required)
                total = data.total_rows,
                // array of header names (optional)
                headers = data.headers,
                // all rows: array of arrays; each internal array has the table cell data for that row
                rows = data.rows,
                // len should match pager set size (c.size)
                len = d.length;
                // this will depend on how the json is set up - see City0.json
                // rows
                for ( r=0; r < len; r++ ) {
                    row = []; // new row array
                    // cells
                    for ( c in d[r] ) {
                        if (typeof(c) === "string") {
                            row.push(d[r][c]); // add each table cell data to row array
                        }
                    }
                    rows.push(row); // add new row array to rows array
                }
                // in version 2.10, you can optionally return $(rows) a set of table rows within a jQuery object
                return [ total, rows, headers ];
            }
        },

        size: 100,

        // css class names of pager arrows
            pager_css: {
            container   : 'tablesorter-pager',
            errorRow    : 'tablesorter-errorRow', // error information row (don't include period at beginning)
            disabled    : 'disabled'              // class added to arrows @ extremes (i.e. prev/first arrows "disabled" on first page)
        },

        // jQuery selectors
        pager_selectors: {
            container   : '.ts-pager',       // target the pager markup (wrapper)
            first       : '.first',       // go to first page arrow
            prev        : '.prev',        // previous page arrow
            next        : '.next',        // next page arrow
            last        : '.last',        // go to last page arrow
            goto        : '.gotoPage',    // go to page selector - select dropdown that sets the current page
            pageDisplay : '.pagedisplay', // location of where the "output" is displayed
            pageSize    : '.pagesize'     // page size selector - select dropdown that sets the "size" option

        }
    });

});
</script>
{% endblock %}

{% block css %}
<link href="{% static "css/tablesortertheme.css" %}" rel="stylesheet" media="screen">
<link href="{% static "css/daterangepicker-bs3.css" %}" rel="stylesheet" media="screen">
{% endblock %}