{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}
<div class="row">
    <div class="col-md-12">
                Sorry your order could not be completed. Please start again.
    
    <br />
    <br />
    <a href="{% url 'db:indexProduct' %}" class="btn btn-primary">Return to Products</a><br />
    </div>
</div>
{% endblock %}

{% block javascript %}

<script src="{% static "js/jquery.tablesorter.js" %}"></script>
<script src="{% static "js/jquery.tablesorter.widgets.js" %}"></script>
<script src="{% static "js/jquery.tablesorter.pager.js" %}"></script>

<script>
$(function(){
    var x = document.URL;
    document.getElementById("txtUrl").value = x;
});
</script>
{% endblock %}

{% block css %}
<link href="{% static "css/tablesortertheme.css" %}" rel="stylesheet" media="screen">
{% endblock %}